Django==4.0.4
yookassa==2.3.1
environs[django]==9.5.0
Pillow==9.1.1
django-admin-sortable2==2.0.4
qrcode==7.3.1
django-phonenumber-field[phonenumbers]==6.3.0
black==22.3.0
isort==5.10.1
python-dateutil-2.8.2
