{% extends "base.html" %}
{% load static %}

{% block title %}Правовые документы{% endblock %}

{% block content %}
<main class="container mt-header">
    <h1 class="fw-bold SelfStorage_green mb-4">Правовые документы</h1>

    <p>1. Общие положения</p>

    <p>1.1. Настоящий документ определяет условия и ограничения по использованию Платформы и Сайта.</p>

    <p>1.2. Настоящие Правила являются неотъемлемой частью Публичной оферты ( Лицензионного договора) , далее по тексту
        —
        «Договор» , размещенного в сети Интернет</p>

    <p>1.3. Термины и определения, применяемые в настоящих Правилах, используются в значении, определяемом в
        соответствии с
        текстом Договора.</p>
    <p>2. Пользуясь Платформой и Сайтом, Вы соглашаетесь с тем, что:</p>

    <p>2.1. Вы ознакомились с условиями настоящих Правил и Договора в полном объеме до начала использования Платформы и
        Сайта.</p>

    <p>2.2. Начало использования Вами Платформы и Сайта в любой форме означает, что Вы принимаете все условия настоящих
        Правил и Договора в полном объеме без каких-либо изъятий и ограничений с Вашей стороны. Использование Платформы
        и
        Сайта на иных условиях не допускается.</p>

    <p>2.3. Если Вы не согласны с условиями настоящих Правил или Договора или не имеете права на заключение Договора на
        их
        основе, Вам следует незамедлительно прекратить любое использование Платформы и Сайта.</p>

    <p>2.4. Правила (в том числе любая из их частей) могут быть изменены Правообладателем без какого-либо специального
        уведомления. Новая редакция Правил вступает в силу с момента ее размещения на Сайте либо доведения до сведения
        Пользователя в иной удобной форме, если иное не предусмотрено новой редакцией Правил.</p>

    <p>2.5. Для улучшения качества обслуживания может проводиться видеозапись Вашего занятия.</p>
    <p>3. Общие условия пользования Платформой и Сайтом:</p>

    <p>3.1. Использование функциональных возможностей Платформы и Сайта в рамках предоставления права на использование
        Платформы и Сайта допускается только после прохождения Пользователем регистрации и авторизации на Сайте
        Правообладателя.</p>

    <p>3.2. Помимо указанного в п.3.1. Правила, зарегистрированному Пользователю предоставляется доступ к
        Дополнительному
        функционалу Платформы и Сайта с момента заключения Договора в этой части.</p>

    <p>3.3. Некоторые технические, организационные и коммерческие условия использования Платформы и Сайта, в том числе
        его
        функциональных возможностей могут доводится до сведения Пользователей путем отдельного размещения на Сайте или
        путем
        нотификации Пользователей.</p>
    <p>4. Лицензия на использование Сайта и допустимое использование Платформы и Сайта:</p>

    <p>4.1. Правообладатель предоставляет зарегистрированному Пользователю право на функциональное использование
        Платформы
        и Сайта Правообладателя на условиях простой (неисключительной) лицензии в пределах функциональных возможностей
        Платформы и Сайта , а также право на использование Дополнительного функционала Платформы и Сайта Правообладателя
        на
        условиях выбранного тарифа и/или тарифного плана.</p>

    <p>4.2. Правообладатель вправе устанавливать лимиты по объему размещаемого Пользователем Контента, а также вводить
        иные
        технические ограничения использования Платформы и/или) Сайта , которые время от времени будут доводиться до
        сведения
        Пользователей в форме и способом по выбору Правообладателя.</p>

    <p>4.3. Использование Платформы и/или Сайта Правообладателя иными способами, в том числе путем копирования
        (воспроизведения) размещенного на Сайте Правообладателя Контента, а также входящих в состав Платформы и/или
        Сайта
        Правообладателя элементов дизайна, программ для ЭВМ и баз данных, их декомпиляции и модификации, строго
        запрещены.</p>
</main>
{% endblock %}