<aside class="modal fade" id="RegModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex justify-content-center align-items-center">
                <form action="{% url 'users:register' %}" method="post" enctype="multipart/form-data"
                    class="d-flex flex-column align-items-center" style="max-width: 420px">
                    <h1 class="modal-title text-center fw-bold mb-3">Регистрация</h1>
                    {% csrf_token %}
                    {{ registration_form.non_field_errors }}
                    {{ registration_form.email.errors }}
                    {{ registration_form.email }}
                    {{ registration_form.password1.errors }}
                    {{ registration_form.password1 }}
                    {{ registration_form.password2.errors }}
                    {{ registration_form.password2 }}
                    {{ registration_form.first_name.errors }}
                    {{ registration_form.first_name }}
                    {{ registration_form.last_name.errors }}
                    {{ registration_form.last_name }}
                    {{ registration_form.phonenumber.errors }}
                    {{ registration_form.phonenumber }}
                    {{ registration_form.avatar.errors }}
                    {{ registration_form.avatar }}
                    <span class="fw-light SelfStorage_grey">Нажимая на кнопку, вы подтверждаете свое <a href="#"
                            class="SelfStorage_grey">согласие на обработку персональных данных</a></span>
                    <button
                        class="btn border-8 py-3 px-5 mt-5 mb-3 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange">Зарегистрироваться</button>
                    <span>Уже зарегистрированы? <a href="#" class="SelfStorage_orange" data-bs-toggle="modal"
                            data-bs-target="#SignModal" data-bs-dismiss="modal" aria-label="Close">Войти в личный
                            кабинет</a></span>
                </form>
            </div>
        </div>
    </div>
</aside>