{% load static %}
<aside class="py-5 mt-header SelfStorage__bg_green">
  <div class="container py-5Арендовать бокс">
    <div class="d-flex flex-column align-items-center">
      <h1 class="text-white text-center fw-bold mb-4">Арендуйте свой первый бокс прямо сейчас и получите
        скидку 15% до конца апреля</h1>
      <h4 class="text-white text-center fw-light">Акция распространяется только на новых пользователей сервиса
        SelfStorage</h4>
      <form action="{% url 'boxes:calc-request' %}" method="post" class="row my-4">
        {% csrf_token %}
        <div class="col-12 col-lg-6">
          {{ calc_request_form.email }}
        </div>
        <div class="col-12 col-lg-6">
          <button type="submit"
            class="btn w-100 border-8 py-3 px-5 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange">
            Рассчитать стоимость
          </button>
        </div>
      </form>
      <span class="text-white text-center fw-light">Нажимая на кнопку, вы подтверждаете свое <a
          href="{% static 'privacy/Политика компании SelfStorage в отношении обработки персональных данных.pdf' %}"
          class="text-white">согласие на обработку персональных данных</a></span>
    </div>
  </div>
</aside>